.page-template-page-template-order-report{

  background-image: $bg_site;
  color: #fff;

  .et-l--footer{
    display: none;
  } 

  .templ-form-order-report{

    .container{
      width: 100%;
    }

    padding: 100px 16px;

  }

}
