
//Variable
$bg_site : linear-gradient(123deg,#157aff 0%,#004eb6 73%);


//Screen
$screen-tablet : 1024px - 0.01;
$screen-tablet-2 : 992px - 0.01;
$screen-mb : 768px - 0.01;
$screen-mb-2 : 414px - 0.01;
